<section class="block block-testimonial container">
  <h2 class="block__heading">What Colleagues Say About Me</h2>
  <div class="card testimonial">
    <blockquote class="quote">
      <p class="quote__text">
        Tomas is a great asset to have on any team. He is always willing to
        assist, solve problems, and impart knowledge. His calm approach,
        attention to detail, and professionalism are missed in his previous
        team. A great guy to work with.
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Ken Gibson</h3>
            <p class="quote__organization">Forcepoint</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</section>
