<section class="block technologies_section">
  <h2 class="block__heading">Technologies I work with</h2>
  <div class="container grid grid--1x2 grid-col-gap">
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Front End</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="./images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list list--tick list--split">
          <div>
            <li class="list__item">HTML5</li>
            <li class="list__item">CSS3 (Sass)</li>
            <li class="list__item">JavaScript</li>
            <li class="list__item">React.JS</li>
            <li class="list__item">jQuery</li>
            <li class="list__item">Jinja2</li>
          </div>
          <div>
            <li class="list__item">Bootstrap</li>
            <li class="list__item">Materialize</li>
            <li class="list__item">D3.js</li>
            <li class="list__item">DC.js</li>
            <li class="list__item">Crossfilter.js</li>
            <li class="list__item">AdobeXD</li>
          </div>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Back End</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="./images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list list--tick list--split">
          <div>
            <li class="list__item">Java</li>
            <li class="list__item">Spring (Boot)</li>
            <li class="list__item">Maven</li>
            <li class="list__item">Shell/Bash</li>
          </div>
          <div>
            <li class="list__item">Python</li>
            <li class="list__item">Django</li>
            <li class="list__item">Flask</li>
            <li class="list__item">Airflow</li>
          </div>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Databases</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="./images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list list--tick">
          <li class="list__item">MySQL</li>
          <li class="list__item">SQLite</li>
          <li class="list__item">MongoDB</li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">DevOps</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="./images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list list--tick list--split">
          <div>
            <li class="list__item">GIT</li>
            <li class="list__item">GitHub</li>
            <li class="list__item">Jenkins</li>
            <li class="list__item">Travis CI</li>
          </div>
          <div>
            <li class="list__item">Docker</li>
            <li class="list__item">Kubernetes</li>
            <li class="list__item">Terraform</li>
            <li class="list__item">Azure</li>
          </div>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <header class="collapsible__header">
        <h3 class="collapsible__heading">Other</h3>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="./images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list list--tick">
          <li class="list__item">CLI</li>
          <li class="list__item">Linux</li>
        </ul>
      </div>
    </div>
  </div>
</section>
