<section class="block-side-projects container">
  <h2 class="block__heading">Side Projects</h2>
  <div class="grid grid--1x2 grid--1x3">
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/e-commerce-scooters.png" alt="" />
        </header>
        <div class="card__body">
          <h3>eCommerce</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5 & CSS3</li>
            <li class="list__item">Python - Django</li>
            <li class="list__item">SQLite, JavaScript</li>
            <li class="list__item">Stripe, AWS S3</li>
            <li class="list__item">Bootstrap</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Code-Institute-Milestone-4-Full-Stack-App-Ecommerce"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://django-ecommerce-milestone.herokuapp.com/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/cookbook.png" alt="" />
        </header>
        <div class="card__body">
          <h3>CookBook</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5 & CSS3</li>
            <li class="list__item">Python - Flask</li>
            <li class="list__item">JavaScript</li>
            <li class="list__item">NoSQL - MongoDB</li>
            <li class="list__item">Materialize</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Code-Institute-Milestone-3-Data-Centric-Dev-Python-Flask"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://cookbook-flask-mongo.herokuapp.com/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/visiting-capitals.png" alt="" />
        </header>
        <div class="card__body">
          <h3>Visiting Capitals Cities in Europe</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5 & CSS3 (Sass)</li>
            <li class="list__item">JavaScript - jQuery</li>
            <li class="list__item">Ajax</li>
            <li class="list__item">Rest API (Foursquer API)</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Code-Institute-Milestone-2-Interactive-Frontend-Development"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://tomas-kaiser.github.io/Code-Institute-Milestone-2-Interactive-Frontend-Development/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/Dublin-guide.png" alt="" />
        </header>
        <div class="card__body">
          <h3>Dublin Guide</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5</li>
            <li class="list__item">CSS3</li>
            <li class="list__item">Bootstrap</li>
            <li class="list__item">GitHub</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Code-Institute-Milestone-1-User-Centric-Frontend"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://tomas-kaiser.github.io/Code-Institute-Milestone-1-User-Centric-Frontend/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/neighbrohood-map.png" alt="" />
        </header>
        <div class="card__body">
          <h3>Neighborhood Map</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5 & CSS3</li>
            <li class="list__item">ReactJS</li>
            <li class="list__item">Unsplash Rest API</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Neigborhood-MAP-reactJS-FEND-UDACITY"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://neigbrohood-map-react.herokuapp.com/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
  </div>
</section>
