<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h3 class="collapsible__heading">Header of the collapsible</h3>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="./images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ipsa
    nihil nisi explicabo temporibus exercitationem porro quam libero nostrum
    doloribus quod distinctio molestias velit eaque assumenda commodi facere,
    voluptates corporis.
  </div>
</div>
