<header class="nav">
  <div class="nav__heading">
    <h2>SOFTWARE ENGINEER</h2>
    <svg class="icon icon--white nav-collapsible nav__toggler">
      <use xlink:href="./images/sprite.svg#menu"></use>
    </svg>
  </div>
  <nav>
    <ul class="list nav__list nav-collapsible__content">
      <li class="list__item"><a href="#">About Me</a></li>
      <li class="list__item"><a href="#">Tech</a></li>
      <li class="list__item"><a href="#">Projects</a></li>
      <li class="list__item"><a href="#">Exp</a></li>
      <li class="list__item"><a href="#">Contact Me</a></li>
    </ul>
  </nav>
</header>
