<header class="nav">
  <div class="nav__heading">
    <h2>SOFTWARE ENGINEER</h2>
    <svg class="icon icon--white nav-collapsible nav__toggler">
      <use xlink:href="./images/sprite.svg#menu"></use>
    </svg>
  </div>
  <nav>
    <ul class="list nav__list nav-collapsible__content">
      <li class="list__item"><a href="#">About Me</a></li>
      <li class="list__item"><a href="#">Tech</a></li>
      <li class="list__item"><a href="#">Projects</a></li>
      <li class="list__item"><a href="#">Exp</a></li>
      <li class="list__item"><a href="#">Contact Me</a></li>
    </ul>
  </nav>
</header>
<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2 hero__container">
    <header class="hero__header">
      <h1 class="hero__heading">Portfolio</h1>
      <p class="hero__tagline">Explore my work</p>
      <a href="#" class="btn hero__btn--gradient">get in touch</a>
    </header>
    <img class="hero__img" src="./images/MacBook.jpg" alt="" />
  </div>
</section>
<section class="block">
  <div class="about container">
    <h2 class="block__heading">A Few Words About Me</h2>
    <p class="about__body">
      My name is Tomas and I am an experienced software engineer, living in
      Dublin, Ireland and graduated from National College of Ireland (First
      Class Honours).
    </p>
  </div>
</section>
<section class="block technologies_section">
  <div class="container">
    <h2 class="block__heading">Technologies I work with</h2>
    <div class="grid grid--1x2 grid-col-gap">
      <div class="collapsible">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">Front End</h3>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list list--tick list--split">
            <div>
              <li class="list__item">HTML5</li>
              <li class="list__item">CSS3 (Sass)</li>
              <li class="list__item">JavaScript</li>
              <li class="list__item">React.JS</li>
              <li class="list__item">jQuery</li>
              <li class="list__item">Jinja2</li>
            </div>
            <div>
              <li class="list__item">Bootstrap</li>
              <li class="list__item">Materialize</li>
              <li class="list__item">D3.js</li>
              <li class="list__item">DC.js</li>
              <li class="list__item">Crossfilter.js</li>
              <li class="list__item">AdobeXD</li>
            </div>
          </ul>
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">Back End</h3>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list list--tick list--split">
            <div>
              <li class="list__item">Java</li>
              <li class="list__item">Spring (Boot)</li>
              <li class="list__item">Maven</li>
              <li class="list__item">Shell/Bash</li>
            </div>
            <div>
              <li class="list__item">Python</li>
              <li class="list__item">Django</li>
              <li class="list__item">Flask</li>
              <li class="list__item">Airflow</li>
            </div>
          </ul>
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">Databases</h3>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list list--tick">
            <li class="list__item">MySQL</li>
            <li class="list__item">SQLite</li>
            <li class="list__item">NoSQL (MongoDB)</li>
          </ul>
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">DevOps</h3>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list list--tick list--split">
            <div>
              <li class="list__item">GIT</li>
              <li class="list__item">GitHub</li>
              <li class="list__item">Jenkins</li>
              <li class="list__item">Travis CI</li>
            </div>
            <div>
              <li class="list__item">Docker</li>
              <li class="list__item">Kubernetes</li>
              <li class="list__item">Terraform</li>
              <li class="list__item">Azure</li>
            </div>
          </ul>
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h3 class="collapsible__heading">Other</h3>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="./images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list list--tick">
            <li class="list__item">CLI</li>
            <li class="list__item">Linux</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="block block-side-projects container">
  <h2 class="block__heading">Side Projects</h2>
  <div class="grid grid--1x2 grid--1x3">
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/e-commerce-scooters.png" alt="" />
        </header>
        <div class="card__body">
          <h3>eCommerce</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5 & CSS3</li>
            <li class="list__item">Python - Django</li>
            <li class="list__item">SQLite, JavaScript</li>
            <li class="list__item">Stripe, AWS S3</li>
            <li class="list__item">Bootstrap</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Code-Institute-Milestone-4-Full-Stack-App-Ecommerce"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://django-ecommerce-milestone.herokuapp.com/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/cookbook.png" alt="" />
        </header>
        <div class="card__body">
          <h3>CookBook</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5 & CSS3</li>
            <li class="list__item">Python - Flask</li>
            <li class="list__item">JavaScript</li>
            <li class="list__item">NoSQL - MongoDB</li>
            <li class="list__item">Materialize</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Code-Institute-Milestone-3-Data-Centric-Dev-Python-Flask"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://cookbook-flask-mongo.herokuapp.com/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/visiting-capitals.png" alt="" />
        </header>
        <div class="card__body">
          <h3>Visiting Capitals Cities in Europe</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5 & CSS3 (Sass)</li>
            <li class="list__item">JavaScript - jQuery</li>
            <li class="list__item">Ajax</li>
            <li class="list__item">Rest API (Foursquer API)</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Code-Institute-Milestone-2-Interactive-Frontend-Development"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://tomas-kaiser.github.io/Code-Institute-Milestone-2-Interactive-Frontend-Development/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/Dublin-guide.png" alt="" />
        </header>
        <div class="card__body">
          <h3>Dublin Guide</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5</li>
            <li class="list__item">CSS3</li>
            <li class="list__item">Bootstrap</li>
            <li class="list__item">GitHub</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Code-Institute-Milestone-1-User-Centric-Frontend"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://tomas-kaiser.github.io/Code-Institute-Milestone-1-User-Centric-Frontend/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
    <div class="side-project">
      <div class="card">
        <header class="card__header">
          <img src="./images/neighbrohood-map.png" alt="" />
        </header>
        <div class="card__body">
          <h3>Neighborhood Map</h3>
          <hr />
          <ul class="list list--tick">
            <li class="list__item">HTML5 & CSS3</li>
            <li class="list__item">ReactJS</li>
            <li class="list__item">Unsplash Rest API</li>
          </ul>
        </div>
        <footer class="card__footer grid grid--1x2">
          <a
            href="https://github.com/Tomas-Kaiser/Neigborhood-MAP-reactJS-FEND-UDACITY"
            class="btn btn--outline"
            target="_blank"
            >Code</a
          >
          <a
            href="https://neigbrohood-map-react.herokuapp.com/"
            class="btn btn--outline"
            target="_blank"
            >Live</a
          >
        </footer>
      </div>
    </div>
  </div>
</section>
<section class="block block-timeline container">
  <h2 class="block__heading">Work Experience & Education</h2>
  <div class="timeline">
    <div class="timeline__box">
      <header class="timeline__header">
        <h3 class="timeline__heading">Optum</h3>
      </header>
      <div class="timeline__body">
        <p>Software Engineer</p>
        <p>2020 - currently</p>
      </div>
    </div>
    <div class="timeline__box">
      <header class="timeline__header">
        <h3 class="timeline__heading">National College of Ireland</h3>
      </header>
      <div class="timeline__body">
        <p>Higher Diploma in Science in Computing (First-class Honours)</p>
        <p>2019 - 2020</p>
      </div>
    </div>
    <div class="timeline__box">
      <header class="timeline__header">
        <h3 class="timeline__heading">Forcepoint</h3>
      </header>
      <div class="timeline__body">
        <p>Hardware Analyst</p>
        <p>2017 - 2020</p>
      </div>
    </div>
  </div>
</section>
