<div class="card testimonial">
  <blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam,
      assumenda! Provident explicabo impedit magni. Corporis temporibus culpa
      ducimus autem! Nemo.
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">Ken Gibson</h3>
          <p class="quote__organization">Forcepoint</p>
        </div>
      </div>
    </footer>
  </blockquote>
</div>
