<div class="timeline">
  <div class="timeline__box">
    <header class="timeline__header">
      <h3 class="timeline__heading">Optum</h3>
    </header>
    <div class="timeline__body">
      <p>Software Engineer</p>
      <p>2020 - currently</p>
    </div>
  </div>
  <div class="timeline__box">
    <header class="timeline__header">
      <h3 class="timeline__heading">National College of Ireland</h3>
    </header>
    <div class="timeline__body">
      <p>Higher Diploma in Science in Computing (First-class Honours)</p>
      <p>2019 - 2020</p>
    </div>
  </div>
  <div class="timeline__box">
    <header class="timeline__header">
      <h3 class="timeline__heading">Forcepoint</h3>
    </header>
    <div class="timeline__body">
      <p>Hardware Analyst</p>
      <p>2017 - 2020</p>
    </div>
  </div>
</div>
